<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <h1>SIGN UP</h1>
    <form id="signup_form">
        <input type="email" name="email" id="" placeholder="Email..">
        <input type="text" name="name" id="" placeholder="Name..">
        <input type="password" name="password" id="" placeholder="Password..">
        <input type="password" name="password_confirm" id="" placeholder="Password confirmation..">
        <button>Sign up</button>
    </form>
    <script src="/static/js/signup.js"></script>
    
</body>
</html>