<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Set a flight</h1>
    
    <!-- Por defecto se envía en: x-wwww-form-urlencoded -->
    <form id="set_form">
        <input type="text" name="origen" id="origen" placeholder="Origen..">
        <input type="text" name="destino" id="destino" placeholder="Destino..">
        <input type="datetime-local" name="hora_salida" id="hora_salida">
        <input type="datetime-local" name="hora_llegada" id="hora_llegada">
        <input type="number" name="precio" id="precio">
        <button>Set</button>

    </form>
    <script src="/static/js/admin/setFlight.js"></script>
</body>
</html>